<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.googlemap">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!--<meta-data-->
        <!--android:name="com.google.android.maps.v2.API_KEY"-->
        <!--android:value="AIzaSyBa8r8IF3eEhaM1rLAf-hK-42QV-uoEJnc"/>-->


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBa8r8IF3eEhaM1rLAf-hK-42QV-uoEJnc" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

        <activity
            android:name=".LogInPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".SendRiderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".rider.ConfirmTrip"
            android:label="@string/title_activity_maps2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".MeetYourDriverActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".SchedulTripActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".EditPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".rider.DashActivity"
            android:label="@string/title_activity_testing_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".ForgotPasswordEditPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".MilesInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".rider.AddPaymentMethodActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".ConfirmTripPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopMe"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".TripSummeryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".PinOnMapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>

        <activity
            android:name=".ShareMilesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".CheckGPSLatLong"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PushNotification"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".ChooseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.DriverLogInPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.RiderRequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.MeetYourRiderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.RootDirectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.MeetYourRiderStartTripActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.RootDirectionFinalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.RateYourRiderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.UpdateAccountActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.UpdateDocumentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.DriverPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.EarningActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.TranjactionHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.RecruitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.RatingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.NotificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.DriverForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.AboutyourselfActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.YourVehicleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.IdentityVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.DocumentsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".driver.AlldoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".ConfirmSchedulTrip"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".SeachingDriverActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity android:name=".TripHistoryActivity"></activity>
    </application>

</manifest>